services:
  wgts:
    hostname: wg-tailscale-example
    #build: ./
    environment:
      - TS_LOGIN_SERVER=
      - TS_AUTHKEY=
      - WGTS_TEST_IP=
      - WGTS_TEST_PORT=
      - WGTS_AUTO_ROUTE=
      # To use kernel routing mode, redeclare TS_TAILSCALED_EXTRA_ARGS without --tun=userspace-networking
      #- TS_TAILSCALED_EXTRA_ARGS=--no-logs-no-support
    # If you are using ephemeral nodes:
    #volumes:
    #  - type: tmpfs
    #    target: /var/lib/tailscale
    #    tmpfs:
    #      size: "25M"